/*Start of Root Selectors*/
body {
  background-color: white;
  overflow-x: hidden;
}

p {
  color:black;
  font-family: Montserrat;
}

a {
  color: rgb(189,158,6);
}

h3 {
  color: rgb(189,158,6);
  /* margin-left: 2em;
  padding-top: 1em; */
}

/*End of Root Selectors*/




/*Start of Classe Selectors*/

.linkDiv {
  justify-content: space-between;
}

.iconPhotoText {
color: black;
font-weight: 700;
font-size: 1.30em;
margin-top:1em;
margin-bottom:0;
}

.logonav {
  width: 25%;
  length: 25%;
}

.navbar {
  background-color: rgb(230,230,230);

}

.footerlogo {
  width: 85%;
  height: 85%;
}

.footerDiv {
  /* position: relative; */
  background-color: white;
  color: rgb(189,158,6);
  width: 100%;
  border-top:1px solid rgb(189,158,6);
}

.btn-primary {
  background-color: darkGrey;
  border-color: rgb(189,158,6);
}

.btn-primary:hover {
  background-color: rgb(189,158,6);
}

.footerSMicons {
  width: 8%;
  height: 8%;
  margin:.7em;
}

.socialmediaDiv {
  margin-right: 10px;
}


.instructorDiv {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(189,158,6);
}

.instructorPhoto {
  margin-right: 25px;
}

.iconPhoto {
  height:80px;
  width:80px;
}

.bannerPhotoHeaderText {
  padding-top: 1em;
  font-size: 1.50em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 2em;
  margin-inline-end: 2em;
  color: ghostWhite;
}

.entry-content {
  color: Ghostwhite;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 40px;
  padding-bottom:25px;
  min-height:500px;"
}

.aboutWhatH3 {
  box-sizing: border-box;
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
  margin-block-end: 20px;
  margin-block-start: 20px;
  margin-bottom: 20px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 20px;
  text-size-adjust: 100%;
  color: rgb(189,158,6);
  margin-top:40px;
}

.adultsh5{
  color: rgb(189,158,6);
  font-size:1.5em;
}

.iconShell {

  justify-content: space-around;
  color: rgb(189,158,6);
  display:flex;
  flex-direction:row;
  text-align:center;
  width:50%;
  margin:0 auto;
  border-radius: 15px;
}

.iconDiv {
  width: 100%;
  text-align: center;
  margin-top:1.5em;
  margin-bottom:1.5em;
}
.iconPhoto {
  margin:.2em;
}
.iconHolderDiv {
  width:200px;
  padding:1.5em 1em;
}
.btn-primary.schedule {
  width: 40%;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content:center;
}
.firstLastHolder {
  display: flex;
  flex-direction:row;
}

.followUsAtFooter {
  font-size:1.25em;
  font-weight:600;
}
.card {
  width: 45%;
  text-align: center;
}
.card-img-top {
  border: 0;
}

.iframe-container {
  overflow: hidden;
  /*Calculated from the aspect ration of the
  content (in case of 16:9 it is 9/16= 0.5625)*/
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
 .aboutWhatHolder {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.aboutwhatPtag {
  /* margin:.75em 0em 1.25em 0em; */
  font-size: 1.2em;
  padding:1.25em;
}
.card-text{
  font-size: 1.2em;
}
.academyPhoto {
  width:60%;
}
/*
.aboutWhatInnerHolder {
  width:45%;
  margin:1em;
}
.gracePhoto {
  width:100%
} */
/*End of Classe Selectors*/



/*Start of ID Selectors*/
#newsletterHeader {
  color: rgb(189,158,6);
}

#horizontalicons li {
  display: inline;
}

#bannerPhoto {
  background-image: url("https://www.essentialbjj.com/wp-content/uploads/2017/03/img-main-1.jpg");
  height: 475px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#homeContactDiv {
  text-align: center;
}

#hero {
  min-height: 400px;
  height: 50vh;
  background-size: cover;
  background-position: center top;
}

#AboutWhatbannerPhoto {
  background-image: url("./images/armbarphoto.jpeg");
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

#AdultsbannerPhoto {
  background-image: url("./images/04A66DC5-A59E-4F92-B5BE-CD265A68C2E3.jpg");
  height: 338.5px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

#homePageAddress {
  margin:50px 0 0 0;
  color: black;
}

#contactPageCardDiv {
  display:flex;
  flex-direction:row;
  margin:25px;
  justify-content:space-around;
  min-height:600px;
}

#contactPageAddress {
  position: absolute;
  bottom: 0;
  color: black;
  /* border:1px solid black; */
}

#scheduleHeaderText {
  color: rgb(189,158,6);
  margin-bottom: 20px;
  text-align: center;
}

#associationPageDiv {
  min-height: 600px;
}

#associationContentPtag {
  color:black;
  border-top: 1px solid rgb(189,158,6);
  padding-top: 35px;
  font-size: 1.2em;
}

#associationContentImg {
  text-align: center;
  margin:3em 0;
  padding-bottom: 3em;
  border-bottom: 1px solid rgb(189,158,6);
}

#associationContentImg img {
  margin-top: 2em;
}

#kidsPagePtag {
  padding-top: 3em;
}

#kidsPageBullets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3em;
}

#kidsPageBullets ul li strong {
  color: rgb(189,158,6);
  font-size: 1.25em;
}

/*End of ID Selectors*/

.contactForm {
  margin: 1em;
}

#academyPagePtag {
  color: black;

  padding: 1em;
  padding-top: 0em;
  font-size: 1.3em;
}
#academyPagePtag2 {
  color: black;

  padding: 1.5em 1em;
  font-size: 1.3em;
}

#PageH3 {
  margin-top: 40px;
}

#adultColDiv {
  height:450px;
  padding-top:35px;
  margin: 25px 0;
}

#adultPics {
  width:50%;
  text-align:center;
}

#adultPics img {
  width: 300px;
}

#adultColLeft {
  width:50%;
  text-align:center;
}

#adultColRight {
  width: 50%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.homeNewsLetterDiv {
  text-align: center;
  margin:0 auto;
}
